# Data Wrangling with Spark SQL

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
spark = SparkSession \
    .builder \
    .appName("Data wrangling with Spark SQL") \
    .getOrCreate()
spark

In [3]:
path = "data/sparkify_log_small.json"
user_log = spark.read.json(path)

In [4]:
user_log

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: bigint, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string]

In [5]:
user_log.show(2)

+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|       artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|Showaddywaddy|Logged In|  Kenneth|     M|          112|Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|
|   Lily Allen|Logged In|Elizabeth|     F|            7|   Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 2 rows

In [6]:
user_log.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

# Create a View And Run Queries

In [7]:
# create a view of a table on memory
# createOrReplaceTempView allow to run sql queries on top of the table view
user_log.createOrReplaceTempView("user_log_table")

In [8]:
spark.sql("SELECT * FROM user_log_table LIMIT 2").show()

+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|       artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|Showaddywaddy|Logged In|  Kenneth|     M|          112|Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|
|   Lily Allen|Logged In|Elizabeth|     F|            7|   Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+

In [9]:
spark.sql('''
          SELECT * 
          FROM user_log_table 
          LIMIT 2
          '''
          ).show()

+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|       artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+
|Showaddywaddy|Logged In|  Kenneth|     M|          112|Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|
|   Lily Allen|Logged In|Elizabeth|     F|            7|   Chase|195.23873| free|Shreveport-Bossie...|   PUT|NextSong|1512718541284|     5027|       Cheryl Tweedy|   200|1513720878284|"Mozilla/5.0 (Win...|  1000|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+

In [10]:
spark.sql('''
          SELECT COUNT(*) 
          FROM user_log_table 
          '''
          ).show()

+--------+
|count(1)|
+--------+
|   10000|
+--------+

In [11]:
spark.sql('''
          SELECT userID, firstname, page, song
          FROM user_log_table 
          WHERE userID == '1046'
          '''
          ).show()

+------+---------+--------+--------------------+
|userID|firstname|    page|                song|
+------+---------+--------+--------------------+
|  1046|  Kenneth|NextSong|Christmas Tears W...|
|  1046|  Kenneth|NextSong|  Be Wary Of A Woman|
|  1046|  Kenneth|NextSong|   Public Enemy No.1|
|  1046|  Kenneth|NextSong|Reign Of The Tyrants|
|  1046|  Kenneth|NextSong|      Father And Son|
|  1046|  Kenneth|NextSong|               No. 5|
|  1046|  Kenneth|NextSong|           Seventeen|
|  1046|  Kenneth|    Home|                null|
|  1046|  Kenneth|NextSong|          War on war|
|  1046|  Kenneth|NextSong|   Killermont Street|
|  1046|  Kenneth|NextSong|        Black & Blue|
|  1046|  Kenneth|  Logout|                null|
|  1046|  Kenneth|    Home|                null|
|  1046|  Kenneth|NextSong|     Heads Will Roll|
|  1046|  Kenneth|NextSong|Bleed It Out [Liv...|
|  1046|  Kenneth|NextSong|              Clocks|
|  1046|  Kenneth|NextSong|           Love Rain|
|  1046|  Kenneth|NextSong|Ry Ry's Song (Alb...|
|  1046|  Kenneth|NextSong|   The Invisible Man|
|  1046|  Kenneth|NextSong|Catch You Baby (S...|
+------+---------+--------+--------------------+
only showing top 20 rows

In [12]:
spark.sql("""
          SELECT DISTINCT page
          FROM user_log_table 
          ORDER BY page ASC
          """
          ).show()

+----------------+
|            page|
+----------------+
|           About|
|       Downgrade|
|           Error|
|            Help|
|            Home|
|           Login|
|          Logout|
|        NextSong|
|   Save Settings|
|        Settings|
|Submit Downgrade|
|  Submit Upgrade|
|         Upgrade|
+----------------+

# User Defined Functions (UDF)

In [13]:
spark.udf.register("get_hour", lambda x: int(datetime.datetime.fromtimestamp(x / 1000.0).hour))

In [14]:
# user defined functions (UDF)
'''
get_hour = udf(lambda x: datetime.datetime.fromtimestamp(x / 1000.0).hour)
user_log = user_log.withColumn("hour", get_hour(user_log.ts))
'''

'\nget_hour = udf(lambda x: datetime.datetime.fromtimestamp(x / 1000.0).hour)\nuser_log = user_log.withColumn("hour", get_hour(user_log.ts))\n'

In [15]:
spark.sql('''
          SELECT *, get_hour(ts) AS hour
          FROM user_log_table 
          LIMIT 1
          '''
          ).show()

+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
|       artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|hour|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+
|Showaddywaddy|Logged In|  Kenneth|     M|          112|Matthews|232.93342| paid|Charlotte-Concord...|   PUT|NextSong|1509380319284|     5132|Christmas Tears W...|   200|1513720872284|"Mozilla/5.0 (Win...|  1046|  17|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+----+

In [16]:
user_log.filter(user_log.page == "NextSong").count(), user_log.count()

(8347, 10000)

In [17]:
songs_in_hour = spark.sql('''
          SELECT get_hour(ts) AS hour, COUNT(*) as plays_per_hour
          FROM user_log_table
          WHERE page = "NextSong"
          GROUP BY hour
          ORDER BY hour ASC 
          '''
          ) # cast(hour as int)

In [18]:
songs_in_hour.show()

+----+--------------+
|hour|plays_per_hour|
+----+--------------+
|   0|           276|
|   1|           348|
|  10|           479|
|  11|           484|
|  12|           430|
|  13|           362|
|  14|           295|
|  15|           257|
|  16|           248|
|  17|           369|
|  18|           375|
|  19|           456|
|   2|           358|
|  20|           454|
|  21|           382|
|  22|           302|
|  23|           352|
|   3|           375|
|   4|           249|
|   5|           216|
+----+--------------+
only showing top 20 rows

In [19]:
songs_in_hour = spark.sql('''
          SELECT get_hour(ts) AS hour, COUNT(*) as plays_per_hour
          FROM user_log_table
          WHERE page = "NextSong"
          GROUP BY hour
          ORDER BY cast(hour as int) ASC 
          '''
          )

In [20]:
songs_in_hour.show()

+----+--------------+
|hour|plays_per_hour|
+----+--------------+
|   0|           276|
|   1|           348|
|   2|           358|
|   3|           375|
|   4|           249|
|   5|           216|
|   6|           228|
|   7|           251|
|   8|           339|
|   9|           462|
|  10|           479|
|  11|           484|
|  12|           430|
|  13|           362|
|  14|           295|
|  15|           257|
|  16|           248|
|  17|           369|
|  18|           375|
|  19|           456|
+----+--------------+
only showing top 20 rows

# Converting Results to Pandas

In [21]:
songs_in_hour_pd = songs_in_hour.toPandas()

In [22]:
songs_in_hour_pd

   hour  plays_per_hour
0     0             276
1     1             348
2     2             358
3     3             375
4     4             249
5     5             216
6     6             228
7     7             251
8     8             339
9     9             462
10   10             479
11   11             484
12   12             430
13   13             362
14   14             295
15   15             257
16   16             248
17   17             369
18   18             375
19   19             456
20   20             454
21   21             382
22   22             302
23   23             352

In [23]:
a = 0
for i in range(-1,100):
    
    a = a*10 + i+ 1
    print(str(a) + ' X 9 ' + '+ '+str(i+2) +' = ' + str(a*9+i+2))

0 X 9 + 1 = 1
1 X 9 + 2 = 11
12 X 9 + 3 = 111
123 X 9 + 4 = 1111
1234 X 9 + 5 = 11111
12345 X 9 + 6 = 111111
123456 X 9 + 7 = 1111111
1234567 X 9 + 8 = 11111111
12345678 X 9 + 9 = 111111111
123456789 X 9 + 10 = 1111111111
1234567900 X 9 + 11 = 11111111111
12345679011 X 9 + 12 = 111111111111
123456790122 X 9 + 13 = 1111111111111
1234567901233 X 9 + 14 = 11111111111111
12345679012344 X 9 + 15 = 111111111111111
123456790123455 X 9 + 16 = 1111111111111111
1234567901234566 X 9 + 17 = 11111111111111111
12345679012345677 X 9 + 18 = 111111111111111111
123456790123456788 X 9 + 19 = 1111111111111111111
1234567901234567899 X 9 + 20 = 11111111111111111111
12345679012345679010 X 9 + 21 = 111111111111111111111
123456790123456790121 X 9 + 22 = 1111111111111111111111
1234567901234567901232 X 9 + 23 = 11111111111111111111111
12345679012345679012343 X 9 + 24 = 111111111111111111111111
123456790123456790123454 X 9 + 25 = 1111111111111111111111111
1234567901234567901234565 X 9 + 26 = 11111111111111111111111111
12345679012345679012345676 X 9 + 27 = 111111111111111111111111111
123456790123456790123456787 X 9 + 28 = 1111111111111111111111111111
1234567901234567901234567898 X 9 + 29 = 11111111111111111111111111111
12345679012345679012345679009 X 9 + 30 = 111111111111111111111111111111
123456790123456790123456790120 X 9 + 31 = 1111111111111111111111111111111
1234567901234567901234567901231 X 9 + 32 = 11111111111111111111111111111111
12345679012345679012345679012342 X 9 + 33 = 111111111111111111111111111111111
123456790123456790123456790123453 X 9 + 34 = 1111111111111111111111111111111111
1234567901234567901234567901234564 X 9 + 35 = 11111111111111111111111111111111111
12345679012345679012345679012345675 X 9 + 36 = 111111111111111111111111111111111111
123456790123456790123456790123456786 X 9 + 37 = 1111111111111111111111111111111111111
1234567901234567901234567901234567897 X 9 + 38 = 11111111111111111111111111111111111111
12345679012345679012345679012345679008 X 9 + 39 = 111111111111111111111111111111111111111
123456790123456790123456790123456790119 X 9 + 40 = 1111111111111111111111111111111111111111
1234567901234567901234567901234567901230 X 9 + 41 = 11111111111111111111111111111111111111111
12345679012345679012345679012345679012341 X 9 + 42 = 111111111111111111111111111111111111111111
123456790123456790123456790123456790123452 X 9 + 43 = 1111111111111111111111111111111111111111111
1234567901234567901234567901234567901234563 X 9 + 44 = 11111111111111111111111111111111111111111111
12345679012345679012345679012345679012345674 X 9 + 45 = 111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456785 X 9 + 46 = 1111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567896 X 9 + 47 = 11111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679007 X 9 + 48 = 111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790118 X 9 + 49 = 1111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901229 X 9 + 50 = 11111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012340 X 9 + 51 = 111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123451 X 9 + 52 = 1111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234562 X 9 + 53 = 11111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345673 X 9 + 54 = 111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456784 X 9 + 55 = 1111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567895 X 9 + 56 = 11111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679006 X 9 + 57 = 111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790117 X 9 + 58 = 1111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901228 X 9 + 59 = 11111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012339 X 9 + 60 = 111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123450 X 9 + 61 = 1111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234561 X 9 + 62 = 11111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345672 X 9 + 63 = 111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456783 X 9 + 64 = 1111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567894 X 9 + 65 = 11111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679005 X 9 + 66 = 111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790116 X 9 + 67 = 1111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901227 X 9 + 68 = 11111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012338 X 9 + 69 = 111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123449 X 9 + 70 = 1111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234560 X 9 + 71 = 11111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345671 X 9 + 72 = 111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456782 X 9 + 73 = 1111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567893 X 9 + 74 = 11111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679004 X 9 + 75 = 111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790115 X 9 + 76 = 1111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901226 X 9 + 77 = 11111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012337 X 9 + 78 = 111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123448 X 9 + 79 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234559 X 9 + 80 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012345670 X 9 + 81 = 111111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123456781 X 9 + 82 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234567892 X 9 + 83 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012345679003 X 9 + 84 = 111111111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123456790114 X 9 + 85 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234567901225 X 9 + 86 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012345679012336 X 9 + 87 = 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123456790123447 X 9 + 88 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234567901234558 X 9 + 89 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012345679012345669 X 9 + 90 = 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123456790123456780 X 9 + 91 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234567901234567891 X 9 + 92 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012345679012345679002 X 9 + 93 = 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123456790123456790113 X 9 + 94 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234567901234567901224 X 9 + 95 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012335 X 9 + 96 = 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123456790123456790123446 X 9 + 97 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234567901234567901234557 X 9 + 98 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
12345679012345679012345679012345679012345679012345679012345679012345679012345679012345679012345668 X 9 + 99 = 111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
123456790123456790123456790123456790123456790123456790123456790123456790123456790123456790123456779 X 9 + 100 = 1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
1234567901234567901234567901234567901234567901234567901234567901234567901234567901234567901234567890 X 9 + 101 = 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111